<h1> Forget Password</h1>
<p>
	<%= form_for(:password_reset,url: password_reset_new_path) do |f| %>
      <%= f.label :email %>
      <%= email_field_tag :email %>
 <%= label_tag :new_Password %>
 <%= password_field_tag :new_password %>

      <%= submit_tag "Submit" %>
    <% end %>
</p>
 