<%if loggedin %>
<h1> My Profile </h1>
<p>
	<strong>Firstname:</strong>
    <%= current_user.first_name %>
</p>
<p>
	<strong>Lastname:</strong>
    <%= @user.last_name %>
</p>
<p>
	<strong>Username:</strong>
    <%= @user.uname %>
</p>
<p>
	<strong>Email:</strong>
    <%= @user.email %>
</p>
<p>
	<strong>Image:</strong>
    <%= @user.image %>
</p>
<p><%= link_to "view profile",friendship_path,:method =>
:get %></p>
<p><%= link_to "Find friends",friend_path %></p>
<p><%= link_to "LogOut",session_path(current_user), method: :delete %></p>
<%else%>
<h1>login first</h1>
<%= link_to "login", new_session_path %>
<%end%>