<h1>My Profile</h1>

<p>Username: <%= current_user.uname %></p>

<strong>Firstname:</strong>
    <%= current_user.first_name %>
</p>
<p>
	<strong>Lastname:</strong>
    <%= current_user.last_name %>
</p>

<p>
	<strong>Image:</strong>
    <%= current_user.image %>
</p>


<h2>Friends</h2>
<ul><%= current_user.uname %>'s Friends</li>

      <% if @friendships %>
        <% @friendships.each do |friend| %>
        <%= friend.uname %>
      </li>
       <% end %>
       <% else %>
       <li>No content.</li>
      <% end %>
  
</ul>
